In [24]:
import pandas as pd

In [25]:
dados = pd.read_csv('dados/tips.csv')
dados.head(10)

   total_bill   tip dessert  day    time  size
0       16.99  1.01      No  Sun  Dinner     2
1       10.34  1.66      No  Sun  Dinner     3
2       21.01  3.50      No  Sun  Dinner     3
3       23.68  3.31      No  Sun  Dinner     2
4       24.59  3.61      No  Sun  Dinner     4
5       25.29  4.71      No  Sun  Dinner     4
6        8.77  2.00      No  Sun  Dinner     2
7       26.88  3.12      No  Sun  Dinner     4
8       15.04  1.96      No  Sun  Dinner     2
9       14.78  3.23      No  Sun  Dinner     2

## Tradução

In [26]:
# renomeando as colunas
renomear = {
    'total_bill' : 'valor_da_conta',
    'tip' : 'gorjeta',
    'dessert' : 'sobremesa',
    'day' : 'dia_da_semana',
    'time' : 'hora_do_dia',
    'size' : 'total_de_pessoas'
}

In [27]:
gorjetas = dados.rename(columns = renomear)

In [28]:
gorjetas.head(1)

,valor_da_conta,gorjeta,sobremesa,dia_da_semana,hora_do_dia,total_de_pessoas
0,16.99,1.01,No,Sun,Dinner,2

In [29]:
# Todos os tipos que aparecem
gorjetas.sobremesa.unique()

array(['No', 'Yes'], dtype=object)

In [30]:
sim_nao = {
  'No':'Não',
  'Yes': 'Sim'
}

In [31]:
# Mapear para sim ou não
gorjetas.sobremesa.map(sim_nao)

0      Não
1      Não
2      Não
3      Não
4      Não
      ...
239    Não
240    Sim
241    Sim
242    Não
243    Não
Name: sobremesa, Length: 244, dtype: object

In [32]:
gorjetas.head(1)

,valor_da_conta,gorjeta,sobremesa,dia_da_semana,hora_do_dia,total_de_pessoas
0,16.99,1.01,No,Sun,Dinner,2

In [33]:
gorjetas.sobremesa = gorjetas.sobremesa.map(sim_nao)

In [34]:
gorjetas.head(1)

,valor_da_conta,gorjeta,sobremesa,dia_da_semana,hora_do_dia,total_de_pessoas
0,16.99,1.01,Não,Sun,Dinner,2

In [35]:
gorjetas.dia_da_semana.unique()

array(['Sun', 'Sat', 'Thur', 'Fri'], dtype=object)

In [37]:
dias = {
  'Sun': 'Domingo',
  'Sat': 'Sabado',
  'Thur': 'Quinta',
  'Fri': 'Sexta'
}

In [39]:
gorjetas.dia_da_semana = gorjetas.dia_da_semana.map(dias)

In [40]:
gorjetas.head(1)

,valor_da_conta,gorjeta,sobremesa,dia_da_semana,hora_do_dia,total_de_pessoas
0,16.99,1.01,Não,Domingo,Dinner,2

In [41]:
gorjetas.hora_do_dia.unique()

array(['Dinner', 'Lunch'], dtype=object)

In [42]:
hora = {
    'Dinner': 'Jantar',
    'Lunch': 'Almoço'

}

In [43]:
gorjetas.hora_do_dia = gorjetas.hora_do_dia.map(hora)

In [46]:
gorjetas.head(20)

,valor_da_conta,gorjeta,sobremesa,dia_da_semana,hora_do_dia,total_de_pessoas
0,16.99,1.01,Não,Domingo,Jantar,2
1,10.34,1.66,Não,Domingo,Jantar,3
2,21.01,3.50,Não,Domingo,Jantar,3
3,23.68,3.31,Não,Domingo,Jantar,2
4,24.59,3.61,Não,Domingo,Jantar,4
5,25.29,4.71,Não,Domingo,Jantar,4
6,8.77,2.00,Não,Domingo,Jantar,2
7,26.88,3.12,Não,Domingo,Jantar,4
8,15.04,1.96,Não,Domingo,Jantar,2
9,14.78,3.23,Não,Domingo,Jantar,2
10,10.27,1.71,Não,Domingo,Jantar,2
11,35.26,5.00,Não,Domingo,Jantar,4
12,15.42,1.57,Não,Domingo,Jantar,2
13,18.43,3.00,Não,Domingo,Jantar,4
14,14.83,3.02,Não,Domingo,Jantar,2
15,21.58,3.92,Não,Domingo,Jantar,2
16,10.33,1.67,Não,Domingo,Jantar,3
17,16.29,3.71,Não,Domingo,Jantar,3
18,16.97,3.50,Não,Domingo,Jantar,3
19,20.65,3.35,Não,Sabado,Jantar,3